
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  margin-top: 10rem;
  padding: 16px;
}

input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid rgb(136, 136, 136);
}

.loginbtn {
  background-color: dodgerblue;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity: 1;
}
