  
  .full-page-element {
    /* The image used */
    background-image: url("./../../assets/images/six-woman-standing-and-siting-inside-the-room-1181622.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    opacity: 0.3;
    position: relative;

  }
  .full-page-element .ontop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    position: absolute;
    background-color:#edf9fa;
    opacity: 0.7;
    z-index: 10;
  }